<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout Process</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="container checkout-container" id="checkoutContainer">
      <div class="container p-5 Steps-bar">
        <div
          class="progress"
          role="progressbar"
          aria-label="Checkout Steps bar"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div class="step">
            <span class="bg-success text-light stepNumber" id="step1">1</span>
            <h4>Billing Details</h4>
          </div>
          <div class="step">
            <span class="myBg-secondary stepNumber" id="step2">2</span>
            <h4>Shipping Method</h4>
          </div>

          <div class="step">
            <span class="myBg-secondary stepNumber" id="step3">3</span>
            <h4>Payment Method</h4>
          </div>
          <div class="progress-bar bg-success" style="width: 33.3333%"></div>
        </div>
      </div>
      <form class="row g-3 needs-validation checkout-form" novalidate>
        <!-- Deviding the checkout into two rows -->
        <div class="col-12 col-md-6">
          <!-- billing row -->
          <div class="part1 part">
            <h3>Billing Details</h3>
            <div class="row">
              <div class="col-12 col-md-6">
                <label for="firstName" class="form-label">First name</label>
                <input
                  placeholder=""
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-12 col-md-6">
                <label for="lastName" class="form-label">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
                <div class="invalid-feedback">Please select a valid Email.</div>
              </div>
              <div class="col-12">
                <label for="phone" class="form-label">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  required
                  name="phone"
                />
                <div class="invalid-feedback">Please select a valid phone.</div>
              </div>
            </div>
            <button
              type="button"
              id="ProceedToPart2"
              data-move-to="2"
              class="btn btn-primary mt-3 traverse-btn"
            >
              Continue to Shipping Details
            </button>
          </div>
          <!-- End of part 1-->

          <div class="part2 part d-md-none">
            <h3>Billing Details</h3>
            <div class="row">
              <div class="col-12 d-flex align-items-center" style="gap: 15px">
                <input
                  type="checkbox"
                  name="sameAddress"
                  id="sameAddress"
                  checked
                />
                <label for="sameAddress"
                  >Do You want to use same address?</label
                >
              </div>
              <div class="col-12">
                <label for="country" class="form-label">Country</label>
                <select class="form-select" id="country2" required>
                  <option selected value="Egypt">Egypt</option>
                  <option selected value="Iraq">Iraq</option>
                  <option selected value="Iran">Iran</option>
                  <option selected value="Brazil">Brazil</option>
                  <option selected value="Canda">Canda</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-12 col-md-6">
                <label for="state" class="form-label">State</label>
                <input
                  type="text"
                  class="form-control"
                  id="state"
                  required
                  name="state"
                />
                <div class="invalid-feedback">Please select a valid State.</div>
              </div>
              <div class="col-12 col-md-6">
                <label for="city" class="form-label">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  name="city"
                  required
                />
                <div class="invalid-feedback">Please select a valid City.</div>
              </div>
              <div class="col-12">
                <label for="street" class="form-label">Street</label>
                <input
                  type="text"
                  class="form-control"
                  id="street"
                  required
                  name="street"
                />
                <div class="invalid-feedback">
                  Please select a valid street.
                </div>
              </div>

              <div class="col-12">
                <label for="zipcode" class="form-label"
                  >Zipcode/ Postalcode</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="zipcode"
                  required
                  name="zipcode"
                />
                <div class="invalid-feedback">Please select a valid phone.</div>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-between mt-3">
              <button
                type="button"
                id="BackToPart1"
                class="btn btn-primary traverse-btn"
                data-move-to="1"
              >
                Back To Billing Details
              </button>

              <button
                type="button"
                id="ProceedToPart3"
                class="btn btn-primary traverse-btn"
                data-move-to="3"
              >
                Continue to Payment Details
              </button>
            </div>
          </div>
          <!-- End of part 2 -->

          <div class="part3 part d-md-none">
            <h3>Payment Info</h3>
            <div class="row">
              <div class="col-12 d-flex align-items-center" style="gap: 15px">
                <input
                  type="radio"
                  name="paymentMethod"
                  id="BankTransfer"
                  value="Bank Transfer"
                />
                <label for="bank">Bank Transfer</label>
              </div>
              <div class="col-12 d-flex align-items-center" style="gap: 15px">
                <input
                  type="radio"
                  name="paymentMethod"
                  id="paypal"
                  value="paypal"
                />
                <label for="paypal">Paypal</label>
              </div>
              <div class="col-12 d-flex align-items-center" style="gap: 15px">
                <input
                  type="radio"
                  name="paymentMethod"
                  id="creditCard"
                  value="credit Card"
                />
                <label for="creditCard">Credit Card</label>
              </div>

              <div class="col-12 d-flex align-items-center" style="gap: 15px">
                <input
                  type="radio"
                  name="paymentMethod"
                  id="cash"
                  value="cash"
                />
                <label for="cash">Cash On Delivery</label>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <button
                type="button"
                id="BackToPart2"
                class="btn btn-primary traverse-btn"
                data-move-to="2"
              >
                Back To Shipping Details
              </button>
              <button class="btn btn-success" type="submit">Submit form</button>
            </div>
          </div>
          <!-- End of part 3 -->
        </div>
        <!-- End of billing col -->
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12" id="checkoutProducts"></div>
          </div>
        </div>
      </form>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script type="module">
      import { ShoppingCart } from "../Models/ShoppingCart.js";
      import { ShoppingCartItem } from "../Models/ShoppingCartItem.js";
      import { ShoppingCartRepo } from "../Repository/ShoppingCartRepo.js";

      localStorage.setItem(
        "Products",
        JSON.stringify([
          {
            id: 1,
            name: "Camera",
            price: 10.99,
            quantity: 5,
            description: "This is Product 1.",
            categoryId: 1,
            imgPath: "Images/Products/camera.jpeg",
          },
          {
            id: 2,
            name: "Friedge",
            price: 15.99,
            quantity: 3,
            description: "This is Product 2.",
            categoryId: 2,
            imgPath: "Images/Products/Fiedge.jpeg",
          },
          {
            id: 3,
            name: "TV",
            price: 20.99,
            quantity: 7,
            description: "This is Product 3.",
            categoryId: 1,
            imgPath: "Images/Products/TV.jpeg",
          },

          {
            id: 4,
            name: "mobile",
            price: 20.99,
            quantity: 7,
            description: "This is Product 3.",
            categoryId: 1,
            imgPath: "Images/Products/mobile.jpeg",
          },
        ])
      );
      let shoppingCarts = [
        new ShoppingCart(1, [
          new ShoppingCartItem(1, "Camera", 1, 60),
          new ShoppingCartItem(2, "TV", 1, 160),
          new ShoppingCartItem(3, "Mobile", 1, 120),
          new ShoppingCartItem(4, "Friedge", 1, 130),
        ]),
        new ShoppingCart(2, [
          new ShoppingCartItem(1, "Camera", 1, 60),
          new ShoppingCartItem(2, "TV", 1, 160),
          new ShoppingCartItem(3, "Mobile", 1, 120),
          new ShoppingCartItem(4, "Friedge", 1, 130),
        ]),
      ];
      let jsonShoppingCarts = shoppingCarts.map((cart) => cart.toJSON());

      ShoppingCartRepo.saveShopingCarts(jsonShoppingCarts);
    </script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
    <script src="js/stepsBar.js"></script>
    <script>
      let allCheckoutParts = document.querySelectorAll(".part");
      let activeStep = document.querySelector(".step .bg-success");
      let stepsBar = document.querySelector(".Steps-bar");
      document.querySelector("form").addEventListener("click", (e) => {
        if (e.target.classList.contains("traverse-btn")) {
          let moveTo = +e.target.dataset.moveTo;
          allCheckoutParts.forEach((part, index) => {
            if (part.classList.contains(`part${moveTo}`)) {
              part.classList.remove("d-md-none");
            } else {
              part.classList.add("d-md-none");
            }
          });

          document.getElementById(`step${moveTo}`).click();
        }
      });
      stepsBar.addEventListener("click", (e) => {
        if (e.target.classList.contains("stepNumber")) {
          let clickedStep = +e.target.innerText;
          allCheckoutParts.forEach((part, index) => {
            if (part.classList.contains(`part${clickedStep}`)) {
              part.classList.remove("d-md-none");
            } else {
              part.classList.add("d-md-none");
            }
          });
        }
      });
    </script>
    <script type="module">
      import { ProductRepo } from "../Repository/ProductRepo.js";
      import { ShoppingCartRepo } from "../Repository/ShoppingCartRepo.js";

      let checkoutProducts = document.getElementById("checkoutProducts");
      let cartItems = ShoppingCartRepo.getCartById(1).items;
      console.log(cartItems);
      let productsRows = cartItems.map(
        (item) => `
      <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center" style="gap: 20px">
                  <img
                    src="${ProductRepo.getProductImgPathById(item.productId)}"
                    width="50"
                    alt="camera"
                  />
                  <span class="product-title">${item.name}</span>
                </div>
                <span class="product-price">$${item.totalPrice}</span>
              </div>
      `
      );

      checkoutProducts.innerHTML = productsRows.join("");
    </script>
  </body>
</html>
